@import "reset.scss";
@import "theme.scss";

body {
  font-family: $defaultFontFamily;
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
  color: $blue;
}

a:hover,
a:active,
a:focus {
  color: $red;
}

header {
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  width: 100%;

  & > div {
    margin: 0 auto;
    padding: grid(3) grid(4);
    max-width: $maxWidth;

    h1 {
      margin: 0;
      font-size: 20px;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;

        span {
          margin-left: grid(2);
        }
      }

      a,
      a:visited {
        color: $black;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          color: $blue;
        }
      }
    }
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: grid(6);
  min-width: grid(6);
  height: grid(6);
  margin: 0;
  background-color: $white;
  border: $defaultBorder;
  border-radius: 2px;
  box-shadow: none;
  position: relative;

  &:checked::after {
    content: "\2714\fe0e";
    position: absolute;
    width: grid(6);
    height: grid(6);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: grid(5);
    color: $blue;
    border-width: 0;
    text-align: center;
    line-height: 1;
  }

  &:active,
  &:focus,
  &:hover {
    z-index: 1;
    border-color: $blue;
    outline: none;
    cursor: pointer;

    & + * {
      z-index: 2;
    }
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

.site > main {
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  max-width: $maxWidth;
  padding: grid(4);
}

footer {
  display: flex;
  min-height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $lightGray;
}

.breadcrumb {
  width: 100%;
  max-width: $reportCardWidth;
  margin: 0 auto;
  margin-bottom: grid(2);

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.report-card {
  border: $defaultBorder;
  border-radius: 2px;
  max-width: $reportCardWidth;
  margin: 0 auto;
  padding: grid(4);

  h2 {
    line-height: 1.25;
    margin-bottom: grid(2);
  }
}

span.unavailable {
  font-style: italic;
}

.report-card-score-container {
  margin-top: grid(5);

  p {
    margin-top: grid(2);
  }
}

.report-card-description {
  margin: grid(4) 0;

  p {
    margin-bottom: grid(2);
  }
}

.report-card-section {
  margin-bottom: grid(6);

  h3,
  h4 {
    margin-bottom: grid(2);
  }

  p {
    margin-bottom: grid(1);
  }
}

.report-card-section .toggle {
  margin: grid(3) 0;
}

.report-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .report-card-section {
    flex: 1;

    &:first-child {
      margin-right: grid(6);
    }

    .micromap {
      margin-top: grid(5);
    }
  }
}

.report-card-grade {
  position: relative;
  width: grid(6);
  height: grid(6);
  font-size: 28px;
  flex-shrink: 0;

  &.fail::after {
    content: "\2716\fe0e";
    color: $red;
  }

  &.pass::after {
    content: "";
    display: block;
    width: grid(2.5);
    height: grid(4);
    border: solid $green;
    border-width: 0 grid(1) grid(1) 0;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: grid(1);
    margin: auto;
  }

  &.empty::after {
    content: "";
    display: block;
    width: grid(5);
    height: grid(5);
    border: solid $gray;
    border-width: grid(1);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: grid(1);
    margin: auto;
  }
}

.toggle {
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: $mobile) {
  .toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .report-card-row {
    flex-direction: column;

    .report-card-section .micromap {
      margin-top: 0;
    }
  }
}

.toggle:active,
.toggle:hover,
.toggle:focus {
  outline: none;

  .info-toggle {
    color: $red;
    border-color: $red;
  }
}

.toggle-content {
  border-left: solid grid(1.5) $lightGray;
  padding: grid(2);
  padding-left: grid(4);
}

.info-toggle {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: grid(6);
  min-width: grid(6);
  height: grid(6);
  border: solid 1.5px $blue;
  background-color: $lightGray;
  color: $blue;
  margin: 0;
  margin-left: grid(1);
}

.multiselect {
  position: relative;
  border-radius: 2px;
  border: $defaultBorder;
}

.multiselect-control {
  padding: grid(1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  svg {
    transition: transform 0.1s linear;
    transform: rotate(90deg);
    width: grid(6);
    min-width: grid(6);
    height: grid(6);
  }

  &[aria-expanded="true"] svg {
    transform: rotate(-90deg);
  }
}

.multiselect-label {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multiselect-content {
  position: absolute;
  margin-top: grid(1);
  padding: grid(2) grid(1);
  width: 100%;
  top: 100%;
  z-index: 2;
  background-color: $white;
  border-radius: 2px;
  border: $defaultBorder;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      margin-right: grid(1);
    }

    &:not(:last-child) {
      margin-bottom: grid(1);
    }
  }
}

.report-card-grade-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.report-card-grade {
  margin-right: grid(1.5);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: grid(7);
    height: grid(7);
  }

  &.positive svg {
    transform: rotate(-90deg);
    color: $green;
  }
  &.negative svg {
    transform: rotate(90deg);
    color: $red;
  }
}

.count-container {
  min-width: grid(20);
}

.filter-container {
  position: relative;
}

.filter-controls-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;

  & > div {
    margin: 0;
    margin-right: grid(2);
    flex-grow: 1;

    &:last-child {
      margin-right: 0;
      text-align: right;
      flex-grow: 0;
    }

    &.topics-container {
      flex-grow: 0;
      min-width: grid(45);
      max-width: grid(45);
    }
  }
}

.search-container {
  position: relative;

  input {
    width: 100%;
    padding: grid(1);
    border-radius: 2px;
    border: $defaultBorder;
  }

  svg {
    color: $gray;
    width: grid(4);
    height: grid(4);
    position: absolute;
    right: grid(1);
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: $mobile) {
  .filter-controls-container > div {
    width: 50%;
    margin: 0;
    margin-bottom: grid(2);

    &:nth-child(even) {
      padding-left: grid(1);
    }
    &:nth-child(odd) {
      padding-right: grid(1);
    }
    &:last-child {
      flex-grow: 1;
    }

    &.topics-container {
      min-width: auto;
    }
  }

  .search-container {
    svg {
      right: grid(2);
    }
  }
}

.sort-container {
  min-width: grid(30);

  label {
    margin-right: grid(1);
  }
}

.filter-controls-container > div.sort-container {
  flex-grow: 0;
}

.select-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-grow: 0;

  select {
    appearance: none;
    border: $defaultBorder;
    border-radius: 2px;
    padding: grid(0.75) grid(1);
    width: 100%;
    height: 100%;
    flex: 1;
  }

  svg {
    width: grid(6);
    height: grid(6);
    position: absolute;
    right: grid(1);
    top: grid(1);
    transform: rotate(90deg);
  }
}

.filter-scroll {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, #{grid(60)});
  grid-template-rows: repeat(3, 30%);
  grid-auto-columns: grid(60);
  grid-auto-flow: column;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  min-height: grid(100);
  // Might not be necessary?
  scroll-snap-type: x proximity;
  scroll-padding: grid(4.75);

  & > div {
    scroll-snap-align: start;
  }
}

.no-results {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $mobile) {
  .filter-scroll {
    grid-template-rows: repeat(2, 48%);
  }
}

.filter-edge {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: grid(6);
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.is-active {
    opacity: 1;
  }

  svg {
    width: grid(10);
    height: grid(10);
  }
}

.filter-edge.left {
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
}

.filter-edge.right {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

.report-card-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border: $defaultBorder;
  border-radius: 2px;
  min-height: 150px;
  padding: grid(2);
  box-shadow: $defaultBoxShadow;
}

.report-card-thumb-heading {
  margin-top: grid(1);
  line-height: 1.25;
  display: block;
}

.filter-container .report-card-thumb {
  margin: grid(2);
}

.topic-tag {
  display: inline-block;
  position: relative;
  min-width: 3rem;
  min-height: 2rem;
  padding: grid(1);
  margin: 1px;

  background-color: $lightGray;
  color: $black;

  &.yellow {
    background-color: #fffcd6;
    color: #744501;
  }
  &.blue {
    background-color: #dcecff;
    color: #0c6dde;
  }
  &.brown {
    background-color: #fff1d9;
    color: #7e3d00;
  }
  &.red {
    background-color: #fff1f3;
    color: #d0021b;
  }
  &.green {
    background-color: #d7ebc5;
    color: #417505;
  }
  &.purple {
    background-color: rgba(189, 16, 224, 0.15);
    color: #bd10e0;
  }
}

.topic-tag-input {
  background-color: $lightGray;
  color: $black;
  padding: grid(0.5) grid(1);
  font-size: 14px;

  &.yellow {
    background-color: #fffcd6;
    color: #744501;
  }
  &.blue {
    background-color: #dcecff;
    color: #0c6dde;
  }
  &.brown {
    background-color: #fff1d9;
    color: #7e3d00;
  }
  &.red {
    background-color: #fff1f3;
    color: #d0021b;
  }
  &.green {
    background-color: #d7ebc5;
    color: #417505;
  }
  &.purple {
    background-color: rgba(189, 16, 224, 0.15);
    color: #bd10e0;
  }
}

.score {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: grid(7);
  width: grid(14);

  .score-bar {
    height: 100%;
    width: grid(3);
    border-radius: 1px;
    background-color: $lightGray;
  }

  .score-bar.filled {
    background-color: $teal;
  }

  &.is-large {
    height: grid(14);
    width: grid(28);

    .score-bar {
      width: grid(6);
    }
  }
}

.grade {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $gray;
  border-radius: grid(1);
  height: grid(9);
  width: grid(9);

  span {
    font-size: grid(6);
    font-weight: bold;
    color: $white;
  }

  &.is-large {
    height: grid(16);
    width: grid(16);

    span {
      font-size: grid(12);
    }
  }

  &.A {
    background-color: $green;
  }

  &.B {
    background-color: $teal;
  }

  &.C {
    background-color: $yellow;
  }

  &.D {
    background-color: $orange;
  }

  &.F {
    background-color: $red;
  }
}

.micromap {
  path {
    fill: $lightGray;
    stroke-width: grid(1);
    stroke: $gray;
  }

  circle {
    fill: $blue;
    stroke: $gray;
    stroke-width: grid(1);
  }
}

.week {
  font-size: 13px;
  // justify-content: center;

  .week-row {
    display: flex;
    flex-direction: row;
  }

  .weekday-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .weekday-label {
    padding-right: grid(1);
    text-align: right;
  }

  .week-grid {
    display: flex;
    flex-direction: column;
  }

  .weekday {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: grid(6);
    height: grid(6);
  }

  .hour-label {
    height: grid(6);
    max-width: grid(6);
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .hour {
    height: grid(6);
    width: grid(6);
    max-width: grid(6);
    background-color: $lightGray;
    border: solid grid(1) $white;
    border-bottom-width: 0;
    border-right-width: 0;
    flex: 1;

    &.active {
      background-color: $blue;
    }
  }

  .week-legend {
    display: flex;
    flex-direction: row;
    margin-top: grid(2);

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .color {
      min-height: grid(6);
      min-width: grid(6);
      border: solid grid(1) $white;
      border-top-width: 2px;
      border-bottom-width: 2px;
      border-right-width: 0;

      &:nth-child(5) {
        margin-right: grid(1);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .week {
    .weekday {
      justify-content: space-between;
      min-height: grid(5);
      height: grid(5);
    }

    .hour-label {
      min-height: grid(5);
      height: grid(5);
      width: grid(5);
      max-width: grid(5);

      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }

    .hour {
      min-height: grid(5);
      height: grid(5);
      width: grid(5);
      max-width: grid(5);
    }

    .week-legend .color {
      min-height: grid(5);
      min-width: grid(5);
    }
  }
}

// TODO: Maybe put between main and footer?
.info-footer {
  max-width: $reportCardWidth;
  margin: grid(8) auto;

  form {
    margin-top: grid(4);
  }

  .subscribe-input {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      flex: 1;
      border-radius: 0;
      border-top-left-radius: grid(0.5);
      border-bottom-left-radius: grid(0.5);
      border: $defaultBorder;
      border-right-width: 0;
      padding: grid(1);
      margin: 0;
    }
    button {
      flex-grow: 0;
      height: 100%;
      background-color: $lightGray;
      border-radius: 0;
      border-top-right-radius: grid(0.5);
      border-bottom-right-radius: grid(0.5);
      border: $defaultBorder;
      padding: grid(1);
      cursor: pointer;
      margin: 0;

      &:hover,
      &:active,
      &:focus {
        border-color: $red;
      }
    }
  }
}

/* For Pym.js embed */
html.embedded {
  header,
  footer {
    display: none;
  }

  body,
  .site {
    min-height: auto;
  }
}
