@import "reset.scss";
@import "theme.scss";

body {
  font-family: $defaultFontFamily;
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
}

a,
a:visited {
  text-decoration: none;
  color: $blue;
}

a:hover,
a:active,
a:focus {
  color: $red;
}

header {
  background-color: $red;
  width: 100%;

  & > div {
    margin: 0 auto;
    padding: grid(3) grid(4);
    max-width: $maxWidth;

    h1 {
      margin: 0;

      a,
      a:visited {
        color: $white;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          color: $blue;
        }
      }
    }
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

.site > main {
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
  max-width: $maxWidth;
  padding: grid(4);
}

footer {
  display: flex;
  min-height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $lightGray;
}

.breadcrumb {
  width: 100%;
  max-width: $reportCardWidth;
  margin: 0 auto;
  margin-bottom: grid(2);

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.report-card {
  border: $defaultBorder;
  border-radius: 2px;
  max-width: $reportCardWidth;
  margin: 0 auto;
  padding: grid(4);

  h2 {
    line-height: 1.25;
  }
}

.report-card-description {
  margin: grid(4) 0;
}

.report-card-section {
  margin-bottom: grid(6);
}

.report-card-section .toggle {
  margin: grid(3) 0;
}

.toggle {
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: $mobile) {
  .toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.toggle:active,
.toggle:hover,
.toggle:focus {
  outline: none;

  .info-toggle {
    color: $red;
    border-color: $red;
  }
}

.toggle-content {
  border-left: solid grid(1.5) $lightGray;
  padding: grid(2);
  padding-left: grid(4);
}

.info-toggle {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: grid(6);
  min-width: grid(6);
  height: grid(6);
  border: solid 1px $blue;
  background-color: $lightGray;
  color: $blue;
  margin: 0 grid(1);
}

.report-card-grade-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.report-card-grade {
  margin-right: grid(1.5);
}

.filter-container {
  position: relative;
}

.filter-controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > div {
    margin: 0 grid(2);

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.search-container {
  position: relative;

  input {
    padding: grid(1);
    border-radius: 2px;
    border: $defaultBorder;
  }

  svg {
    color: $gray;
    width: grid(4);
    height: grid(4);
    position: absolute;
    right: grid(1);
    top: 50%;
    transform: translateY(-50%);
  }
}

.sort-container {
  label {
    margin-right: grid(1);
  }
}

.filter-scroll {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(3, 30%);
  grid-auto-columns: 250px;
  grid-auto-flow: column;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-height: 250px;
}

.filter-edge {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: grid(6);
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.is-active {
    opacity: 1;
  }
}

.filter-edge.left {
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
}

.filter-edge.right {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

.report-card-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border: $defaultBorder;
  border-radius: 2px;
  min-height: 150px;
  padding: grid(2);
  box-shadow: $defaultBoxShadow;
}

.report-card-thumb-heading {
  line-height: 1.25;
  display: block;
}

.filter-container .report-card-thumb {
  margin: grid(2);
}

.topic-tag {
  display: inline-block;
  position: relative;
  min-width: 3rem;
  min-height: 2rem;
  padding: grid(1);
  margin: 1px;
}

.score {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: grid(6);
  width: grid(5);
}

.score-bar {
  height: 5px;
  border-radius: 1px;
  background-color: $lightGray;
}

.score-bar.filled {
  background-color: $teal;
}

/* For Pym.js embed */
html.embedded header,
html.embedded footer {
  display: none;
}
