$defaultFontFamily: benton-sans, BlinkMacSystemFont, -apple-system, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  Helvetica, Arial, sans-serif;

@function grid($n) {
  @return $n * $gridSize;
}
$gridSize: 4px;

$maxWidth: 960px;

$red: #ed1651;
$gray: #9b9c9f;
$lightGray: #d8d8d8;
$darkGray: #444444;
$white: #fff;
$black: #2c2e35;
$yellow: #ffcb05;
$orange: #f5a523;
$teal: #00868a;
$green: #058346;
$blue: #0c6dde;
$darkBlue: #024ba0;
$lightBlue: #00a6de;
$purple: #472f92;
$backgroundColor: #f2f2f2;

$colorA: #417505;
$backgroundA: rgba(65, 117, 5, 0.3);
$colorB: #0c6dde;
$backgroundB: rgba(12, 109, 222, 0.3);
$colorC: #d07000;
$backgroundC: #ffe222;
$colorD: #ff4600;
$backgroundD: rgba(255, 70, 0, 0.3);
$colorF: #d0021b;
$backgroundF: rgba(208, 2, 27, 0.3);

$borderColor: $lightGray;
$defaultBorder: solid 1px $borderColor;
$defaultBoxShadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
$topicBgColor: $backgroundColor;

$tablet: 750px;
$mobile: 500px;

$reportCardWidth: 600px;
