/* Based on https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* App CSS */

body {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}

.report-card {
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  max-width: 750px;
  padding: 16px;
}

.filter-container {
  position: relative;
}

.filter-scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-items: flex-start; */
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-height: 250px;
}

.filter-edge {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-edge.left {
  left: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
}

.filter-edge.right {
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}

.report-card-thumb {
  display: inline-block;
  position: relative;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  min-width: 200px;
  padding: 8px;
  white-space: normal;
}

.filter-container .report-card-thumb {
  margin-right: 4px;
}

.topic-tag {
  display: inline-block;
  position: relative;
  min-width: 3rem;
  min-height: 2rem;
  padding: 4px;
  margin: 1px;
  font-weight: bold;
}

/* For Pym.js embed */
html.embedded header,
html.embedded footer {
  display: none;
}
